/* src/App.css */

/* Layout principal que organiza la Navbar y el contenido */
.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* Ya no es necesario ocultar el overflow aquí */
}

/* El área de contenido principal ahora permite el scroll */
.main-content-area {
  flex: 1; 
  overflow-y: auto; /* Permite el scroll vertical */
  padding: 1rem 2rem 2rem; /* Mueve el padding aquí */
  display: flex;
  flex-direction: column;
}

.scroll-area-viewport {
  height: 100%;
  width: 100%;
}